.card{
height: 395px;
width: 400px;

}
.card-img-top{
width: 367px;
height: 125px;
}
.gray-btn{
width:80px;
height:32px;
background: rgba(29, 49, 88, 0.2);
border:  rgba(29, 49, 88, 0.2);
}
.green-btn{
height: 32px;
width: 280px;

}