<div class="card ">
  <div class=" d-flex justify-content-center mt-3"><img class="card-img-top" src="./assets/img/Bitmap.png"
      alt="Card image cap"></div>
  <div class="card-body">
    <h5 class="card-title mt-5">Card title</h5>
    <div class="d-flex">
      <div class="d-flex flex-column mb-4">
        <div class="mb-1 px-1 "><button type="button" class="gray-btn btn btn-success">View</button></div>
        <div class="mb-1 px-1"><button type="button" class="gray-btn btn btn-success">View</button></div>
        <div class="mb-1 px-1"><button type="button" class="gray-btn btn btn-success">View</button></div>
        <div class="mb-1 px-1"><button type="button" class="gray-btn btn btn-success">View</button></div>
      </div>
      <div class="d-flex flex-column mb-4">
        <div class="mb-1 px-1"><button type="button" class="green-btn btn btn-success">View</button></div>
        <div class="mb-1 px-1"><button type="button" class="green-btn btn btn-success">View</button></div>
        <div class="mb-1 px-1"><button type="button" class="green-btn btn btn-success">View</button></div>
        <div class="mb-1 px-1"><button type="button" class="green-btn btn btn-success">View</button></div>
      </div>
    </div>
  </div>
</div>