<div class="flex-column">
  <div class="mb-1 mt-5 card-header">Information</div>
  <div class="card mb-2 mt-2 me-5">
    <div class=" d-flex justify-content-center mt-3"><img class="card-img-top" src="./assets/img/cards-img/sb1.png"
        alt="Card image cap"></div>
    <div class="card-body mt-4">
      <h5 class="card-title mt-3 ">News & Journal Watch</h5>
      <div class="d-flex d-flex-column p-2 justify-content-center">
        <div class="d-flex flex-column">
          <div class="mb-1 px-1 "><button type="button" class="gray-btn btn btn-success">Pub Med</button></div>
          <div class="mb-1 px-1"><button type="button" class="gray-btn btn btn-success">Cochrane</button></div>
          <div class="mb-1 px-1"><button type="button" class="gray-btn btn btn-success">Lancet</button></div>
          <div class="mb-1 px-1"><button type="button" class="gray-btn btn btn-success">Lancet</button></div>
        </div>
        <div class="d-flex flex-column">
          <div class="mb-1 px-1"><button type="button" class="green-btn btn btn-success">www.ncbi.nlm.nih.gov/pubmed</button></div>
          <div class="mb-1 px-1"><button type="button" class="green-btn btn btn-success">www.cochranelibrary.com</button></div>
          <div class="mb-1 px-1"><button type="button" class="green-btn btn btn-success">www.thelancet.com</button></div>
          <div class="mb-1 px-1"><button type="button" class="green-btn btn btn-success">www.thelancet.com</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3 mt-1"><button type="button" class="view-btn btn btn-success">View All</button>
  </div>
</div>