<div class="flex-column ">
    <div class="mb-1 mt-5 card-header">Education & Training</div>
    <div class="card mb-2 mt-2 me-5">
        <div class=" d-flex justify-content-center mt-3"><img class="card-img-top" src="./assets/img/cards-img/sb2.png"
                alt="Card image cap"></div>
        <div class="card-body mt-4">
            <h5 class="card-title mt-3 px-1">Background Materials</h5>
            <div class="d-flex p-2 justify-content-center">
                <div class="d-flex flex-column justify-content-center">
                    <div class="mb-3 px-1 py-1"><button type="button" class="gray-btn btn btn-success">Published Clinical Papers</button>
                    </div>
                    <div class="mb-3 px-1 py-1"><button type="button" class="gray-btn btn btn-success">Slide Decks</button>
                    </div>
                    <div class="mb-3 px-1 py-1"><button type="button" class="gray-btn btn btn-success">Training Materials</button>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-space-between mt-2">
                    <div class="mb-4 px-1 "><button type="button" class="green-btn btn btn-success">eCME</button></div>
                    <div class="mb-4 px-1 "><button type="button" class="green-btn btn btn-success">Conference</button></div>
                    <div class="mb-4 px-1 "><button type="button" class="green-btn btn btn-success">Podcasts</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3 mt-1"><button type="button" class="view-btn btn btn-success">View All</button>
    </div>
</div>