<div class="center">
  <div class="card p-3">
    <div class="card-body">
      <div class="wrapper">
        <h3 class="card-title">Forgotten Password</h3>
        <p style="font-size:12px;text-align:center">Enter your email to recover your password.
          <br>
          You will receive an email with instructions.
        </p>
      </div>
    </div>
    <div>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
        <div class="form-group">
          <label for="formGroupExampleInput">Email Address</label>
          <input type="email" class="form-control" id="formGroupExampleInput" formControlName="email">
        </div>
        <div>
          <button style="width:100%;margin-top:1rem" type="submit" class="btn btn-success btn-sm">Confirm</button>
        </div>
        <div>
          <button style="width:100%;margin-top:1rem" type="button" class="btn btn-light btn-sm">Back to login</button>
        </div>
      </form>
    </div>
  </div>
</div>
