<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
  <div class="center">
    <div class="card p-3 ">
      <h3 class="card-title" style="color:#1D3158; margin-top: 70px; font-size: 32px;">Forgotten Password</h3>
      <p style="font-size:12px;text-align:center">Enter your email to recover your password.
        <br>
        You will receive an email with instructions.
      </p>
      <div style="display: inline-block;margin: 0 auto;padding: 60px">
        <div class="form-group" style="width: 380px">
          <label for="formGroupExampleInput">Email Address</label>
          <input type="email" class="form-control" id="formGroupExampleInput" formControlName="email">
        </div>
        <button style="width:380px;height: 44px; margin-top:1rem" type="submit" class="btn btn-success">Confirm</button>
        <button style="width:380px; height:44px; margin-top:1rem" type="button" class="btn btn-light">Back to
          login</button>
      </div>
    </div>
  </div>
</form>