
     <div class="main-home">
        <img class="home-img" src="./assets/img/Bitmap.png" alt="">
        <div class="content-bg">
            <div class="home-content mt-4 d-flex flex-column">
            <div class="py-3 ">
                <h6 class=" text-wrap d-flex justify-content-center">DENGUE FEVER</h6>
                <h6 class="d-flex justify-content-center">SPEAKER TRAINING BUREAU</h6>
            </div>

            <div class="py-3">
                <button type="button" class="join-btn btn btn-success" style="color:white">JOIN</button>
            </div>

            <div class="py-3 home-descr">
                <span>This disease awareness and medical education community is a community for healthcare professionals only, supported by Takeda.</span><br>
                <span class="d-flex justify-content-center ">To request access or to find out more, click the link above.</span>
            </div>
        </div>
        </div>
    </div>
    
    <div class="home-icons d-flex d-sm-flex">
        <div class="p-3"><img src="./assets/img/Group1.png" class="icon-img" alt=""><br>
        <span class="p-2 d-flex justify-content-center">INFORMATION</span>
        </div>
        <div class="p-3"><img src="./assets/img/Group2.png" class="icon-img" alt=""><br>
            <span class="p-2 d-flex justify-content-center">EDICATION</span>
        </div>
        <div class="p-3"><img src="./assets/img/Group3.png" class="icon-img" alt=""><br>
            <span class="p-2 d-flex justify-content-center">DIARY</span>
        </div>
        <div class="p-3"><img src="./assets/img/Group4.png" class="icon-img" alt=""><br>
            <span class="p-2 d-flex justify-content-center">COMMUNITY</span>
        </div>
    </div>