<div class="main-home">

<div class="secton1">
<img src="./assets/img/Bitmap.png" alt="">

</div>

<div class="section2" style="height: 376px;">

<h6>bureaaaaaaaaaaaaaaaaaaaaaauuuuu</h6>
</div>

<div  class="section3">
    <div><img src="./assets/Vector.png" class="icon-img"  alt=""></div>
    <div><img src="./assets/Vector.png" class="icon-img"  alt=""></div>
    <div><img src="./assets/Vector.png" class="icon-img"  alt=""></div>
    <div><img src="./assets/Vector.png" class="icon-img"  alt=""></div>


</div>


</div>