img{
    position: absolute;
    left: 0.1%;
    right: -0.03%;
    top: 20.58%;
    bottom: 35.65%;
    mix-blend-mode: normal;
    opacity: 0.5;
    height:500px;
    width: 100%;
}
.section2 {
    height: 376px;
    position: absolute;
left: 0%;
right: -0.07%;
top: 27.81%;
bottom: 49.36%;

background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.8
}

.icon-img{
  position: absolute;
  width:137.82px;
  height:152.59px;
}