<div class="d-flex flex-row justify-content-center">
    <div class="p-2">
        <app-sticky-left-card></app-sticky-left-card>
    </div>
    <div class="p-2">
        <div class="d-flex flex-row flex-wrap">
            <div class="">
                <app-info-card></app-info-card>
            </div>
            <div class="">
                <app-diary-card></app-diary-card>
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap">
            <div class="">
                <app-education-card></app-education-card>
            </div>
            <div class="">
                <app-community-card></app-community-card>
            </div>
        </div>
    </div>
</div>

