.home-img {
  top: 80%;
  height: 721px;
  width: 100%;
  border-radius: 0px;
}
.main-home {
  position: relative;
  padding-top: 150px;
}
h6 {
  font-family: Helvetica;
  font-size: 51px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
}

// .hi{
//   justify-content: center!important;
//   align-items: center!important;
// }

.join-btn {
  height: 44px;
  width: 382px;
  background: #66beaa;
  border-radius: 4px;
  border-color: #66beaa;
}

.section2 {
  position: absolute;
  width: 100%;
  background: #ffffff;
  mix-blend-mode: normal;
  height: 376px;
  top: 250px;
  border-radius: 0px;
  background: rgba(255,255,255, 0.5)
}
.section2-content {
  flex-wrap: wrap;
  align-items: center !important;
  justify-content: center !important;

}




.home-descr {
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}
.section3 {
  padding-top: 80px;
  margin-bottom: 90px;
  max-width: 100% !important;
  justify-content: center;
  height: 340px;
  flex-wrap: wrap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  color: #1D1D1B;
}

