<div class="flex-column">
  <div class="mb-1 mt-5 card-header">Community</div>
  <div class="card mb-2 mt-2 me-5">
    <div class="d-flex-column p-3">
      <div class="gray-box mb-3 p-2">
        <div class="d-flex justify-content-between align-items-center p-1">
          <div class=""><img class="card-img" src="./assets/img/cards-img/sb4.png" alt="Card image cap"></div>
          <div class="">Q & A Forum</div>
          <div class=""><button type="button" class="green-btn btn btn-success">View</button></div>
        </div>
      </div>
      <div class="gray-box mb-3 p-2">
        <div class="d-flex justify-content-between align-items-center p-1">
          <div class=""><img class="card-img" src="./assets/img/cards-img/sb5.png" alt="Card image cap"></div>
          <div class="">Presentation Forum </div>
          <div class=""><button type="button" class="green-btn btn btn-success">View</button></div>
        </div>
      </div>
      <div class="gray-box mb-3 p-2">
        <div class="d-flex justify-content-between align-items-center p-1">
          <div class=""><img class="card-img" src="./assets/img/cards-img/sb6.png" alt="Card image cap"></div>
          <div class="">Technology Forum</div>
          <div class=""><button type="button" class="green-btn btn btn-success">View</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3 mt-1"><button type="button" class="view-btn btn btn-success">View All</button>
  </div>
</div>