footer {
  bottom: 0;
  width: 100%;
  background-color: #073062;
  position:absolute;
  
}
.subtitle {
  font-size: 11px;
}
a:link {
  text-decoration: none;
}

.list-unstyled{
    font-size: 12px;
}