<footer class="text-white mt-4 p-5">
    <div class="px-4">
        <div class="row">
            <div  id="content1" class="col-lg-6 col-md-5 col-sm-12 d-flex ">
                <ul class="list-unstyled mb-0 p-3">
                    <li> <a href="#!" class="text-white">Log in</a> </li>
                    <li> <a href="#!" class="text-white">Create ccount</a> </li>
                    <li> <a href="#!" class="text-white">About us</a> </li>
                </ul>
                <ul class="list-unstyled mb-0 p-3">
                    <li> <a href="#!" class="text-white">Privacy Policy</a> </li>
                    <li> <a href="#!" class="text-white">Terms & Conditions</a> </li>
                    <li> <a href="#!" class="text-white">Site map</a> </li>
                    <li> <a href="#!" class="text-white">Contact us</a> </li>
                </ul>
            </div>
            <div id="content" class="col-lg-6 col-md-7 col-sm-12 text-content">
                <div class="col-lg-12">
                    <div class="title fw-bold"> Speaker Training Bureau</div>
                    <div class="subtitle me-3">BUILT THROUGH KNOWLEDGE</div>
                </div>
                <div class="col-lg-12">
                    <div class=" subtitle pt-4">Developed by Intercative Pharma Solutions</div>
                </div>
            </div>
        </div>
    </div>
</footer>