footer {
  bottom: 0;
  width: 100%;
  background-color: #1D3158;
  position:relative;

}

a:link {
  text-decoration: none;
}
.title{
  font-size: 25px;
}
.list-unstyled{
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;}

.subtitle{
align-items: center!important;
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #FFFFFF;
}

  .text-content{
 text-align:right;
  }

  @media (max-width: 576px) {
    #content{
        text-align: center!important;
        padding: 0;
}
  }
