.bd-example {
  background-attachment: #073062;
}

.nav-color {
  background-attachment: #073062;
}

.navbar {
  padding-top: unset;
  padding-bottom: unset;
  color: white;
  background-color: #073062;
}

.navbar-toggler{
    background-color: white;
}
.navbar-brand {
  color: white;
}

.text-color {
  color: white;
}

.text-white {
  color: white;
}

.subtitle {
  font-size: 10px;
}

.btn-sm {
  width: fit-content;
}
