.bd-example {
  background-attachment: #1D3158;
}

.nav-color {
  background-attachment: #1D3158;
}

.navbar {

  color: white;
  background-color: #1D3158;
}

.navbar-toggler{
    background-color: white;
}
.navbar-brand {
  color: white;
}

.text-color {
  color: white;
}

.text-white {
  color: white;
  font-size: 12px;
}

.subtitle {
  font-size: 12px;
}

.btn-sm {
  width: fit-content;
}
