<!-- Navbar Component -->
<nav class="navbar navbar-expand-lg text-color p-2 bg-body-tertiary d-block">
    <div class="container-fluid px-5 nav-color">
        <div class="fx-bold">Speaker Training Bureau
            <div class="subtitle d-flex justify-content-center">BUILT THROUGH KNOWLEDGE</div>
        </div>
        
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav text-white">
                <li class="nav-item"> <a class="nav-link text-white active" aria-current="page" href="#">Register</a>
                </li>
                <li class="nav-item"> <a class="nav-link text-white" href="#">About Us</a> </li>
                <li class="nav-item"> <a class="nav-link text-white" href="#">Contact Us</a> </li>
                <button type="button" class="btn btn-success btn-sm">Join/Login</button>
            </ul>
        </div>
    </div>
</nav>