:root {
  --primary-color: #fff;
  --background-color: red;
  --text-color: #2d2d2d;
}

.main-section {
  min-height: calc(100vh - 192px) !important;
}

.navbar,
.footer {
  height: 80px;
  display: block;
}
