<div class="p-4">
  <div class="card-header pb-2">Information</div>
  <div class="card">
    <div class="d-flex justify-content-center pb-3">
      <img class="card-img-top p-3" src="./assets/img/cards-img/sb1.png" alt="Card image cap">
    </div>
    <h5 class="card-title ps-3">News & Journal Watch</h5>
    <div class="p-3 card-body">
      <div class="d-flex flex-row justify-content-between">
        <div class="w-25 p-1"><button type="button" class="gray-btn btn ">Pub Med</button></div>
        <div class="w-75 p-1"><button type="button" class="green-btn btn ">www.ncbi.nlm.nih.gov/pubmed</button></div>
      </div> 
      <div class="d-flex flex-row justify-content-between">
        <div class="w-25 p-1"><button type="button" class="gray-btn btn">Cochrane</button></div>
        <div class="w-75 p-1"><button type="button" class="green-btn btn">www.cochranelibrary.com</button></div>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <div class="w-25 p-1"><button type="button" class="gray-btn btn ">Lancet</button></div>
        <div class="w-75 p-1"><button type="button" class="green-btn btn ">www.thelancet.com</button></div>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <div class="w-25 p-1"><button type="button" class="gray-btn btn ">Lancet</button></div>
        <div class="w-75 p-1"><button type="button" class="green-btn btn ">www.thelancet.com</button></div>
      </div>
    </div>
  </div>
  <div class="pt-3 "><button type="button" class="view-btn btn ">View All</button>
  </div>
</div>