<div class="center">
    <div class="card p-3">
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">
                            <h3 style="color:#363f58">Speakers</h3>
                        </th>
                        <th scope="col">Seniority</th>
                        <th scope="col">Region</th>
                        <th scope="col">Experience</th>
                        <th scope="col">Rating</th>

                    </tr>
                    <tr>
                        <td>Click to view
                            <br>
                            speaker profile
                        </td>
                        <td>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>...</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>...</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>...</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>...</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>