<div class="position-relative mt-1 ms-5" id="sidenav-pos">
    <div class="sticky-position">
        <div >
            <div class="card p-4 " style="width: 16rem">
                <div class=" image d-flex flex-column justify-content-center align-items-center"> <img
                        src="https://i.imgur.com/wvxPV9S.png" class="img-fluid rounded-circle border  border-3"
                        style="width: 56px; height:56" />
                    <span class="card-title mt-3" style="font-size: 14px;">Proffesor.Eleanor Pena</span>
                </div>

                <div class="row card-text">
                    <div class="col-lg-4">test</div>
                    <div class="col-lg-8">$100 (per hour)</div>
                    <div class="col-lg-4">Total</div>
                    <div class="col-lg-8">$500 (curent year)</div>
                </div>
            </div>
        </div>

        <div class="flex-row card my-4 gap-3 align-items-center justify-content-center"
            style="width: 16rem; height: 84px;">
            <div>
                <p class="card-title meeting-title">MEETINGS </p>
                <div class="">
                    <span class="card-title px-1">2 Updates</span>
                    <i class="bi bi-bell-fill"></i>
                </div>
            </div>

            <div><button type="button" class="view-btn btn btn-success">View</button> </div>
        </div>
        <div class="card card-text" style="width: 16rem; ">
            <div class="card-body">
                <div class="card-title pb-1">INFORMATION</div>
                <p class="">Clinical News</p>
                <p class="">Journal Watch</p>
                <p class="">Training Materials</p>
            </div>
            <hr>
            <div class="card-body pb-1">
                <div class="card-title">EDUCATION</div>
                <p class="">Published Clinical Papers</p>
                <p class="">Slide Decks</p>
                <p class="card-text">Clinical News.</p>
            </div>
            <hr>
            <div class="card-body pb-1">
                <div class="card-title">DIARY</div>
                <div class="mb-2">Availability in:</div>
                <div class="form-floating mb-3">
                    <mat-card class="demo-inline-calendar-card">
                        <mat-calendar [(selected)]="selected"></mat-calendar>
                    </mat-card>


                </div>
            </div>
            <hr>
            <div class="card-body">
                <div class="card-title">COMMUNITY</div>
                <span>SPECIALISTS ONLINE NOW</span>
                <div class="d-flex flex-row flex-wrap">

                    <div class=""> <img src="https://i.imgur.com/wvxPV9S.png"
                            class=" mx-1 my-1  d-flex justify-content-center img-fluid rounded-circle border  border-2" />
                    </div>
                    <div class=""> <img src="https://i.imgur.com/wvxPV9S.png"
                            class=" mx-1 my-1  d-flex justify-content-center img-fluid rounded-circle border  border-2" />
                    </div>
                    <div class=""> <img src="https://i.imgur.com/wvxPV9S.png"
                            class=" mx-1 my-1  d-flex justify-content-center img-fluid rounded-circle border  border-2" />
                    </div>
                    <div class=""> <img src="https://i.imgur.com/wvxPV9S.png"
                            class=" mx-1 my-1  d-flex justify-content-center img-fluid rounded-circle border  border-2" />
                    </div>
                    <div class=""> <img src="https://i.imgur.com/wvxPV9S.png"
                            class=" mx-1 my-1  d-flex justify-content-center img-fluid rounded-circle border  border-2" />
                    </div>
                    <div class=""> <img src="https://i.imgur.com/wvxPV9S.png"
                            class=" mx-1 my-1  d-flex justify-content-center img-fluid rounded-circle border  border-2" />
                    </div>
                    <div class=""> <img src="https://i.imgur.com/wvxPV9S.png"
                            class=" mx-1 my-1  d-flex justify-content-center img-fluid rounded-circle border  border-2" />
                    </div>
                    <div class=""> <img src="https://i.imgur.com/wvxPV9S.png"
                            class=" mx-1 my-1  d-flex justify-content-center img-fluid rounded-circle border  border-2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>