.card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  width: fit-content;
}

.card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #1d3158;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #1d3158;
}

.wrapper {
  display: inline-block;
  margin: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

.select-form {
  width: 210px !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background: #1d3158b2;
  border: #1d3158b2;
}

.group-button {
  display: flex;
  justify-content: space-around;
}

.btn-light {
   width: 122px;
  border-radius: 6px;
  margin: 10px 10px 10px 10px;
  background-color: #66beaa;
}

.bio-subtitle {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.form-group {
  margin: 10px 20px 20px 20px;
}

.upload {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.button-close {
  background-color: #66beaa;
  border-color: #66beaa;
  height: 30px !important;
  width: 74px !important;
  border-radius: 6px !important;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}
@media (max-width: 400px) {
  .close-btn {
    float: left !important;
  }
}

textarea {
  height: 413px;
}
.fileUpload {
  position: relative;
  overflow: hidden;
}

.fileUpload input.upload {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
