.home-img {
    height: 721px;
    width: 100%;
  }

  h6 {
    font-family: Helvetica;
    font-size: 51px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
  }
  
  
  .join-btn {
    height: 44px;
    width: 23rem;
    background: #66beaa;
    box-shadow: none;
    border-radius: 4px;
    border-color: #66beaa;
    flex-wrap: wrap;
  }
  
  .content-bg {
    position: absolute;
    flex-wrap: wrap;
    width: 100%;
    background: #ffffff;
    mix-blend-mode: normal;
    height: 376px;
    top: 250px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.5);
  }
  .home-content {
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: center !important;
    
  color: #1D3158;
  }
  
  .home-descr {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
  }
  .home-icons {
    padding-top: 80px;
    margin-bottom: 90px;
    max-width: 100% !important;
    justify-content: center;
    height: 340px;
    flex-wrap: wrap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    color: #1d1d1b;
  }
  
  @media(max-width: 470px) {
    h6{
      font-size: 40px;
      float: left;
    }
  
    .join-btn {
        width: 300px  ;
    }
  }