.card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  width: fit-content;
}

.wrapper {
  display: inline-block;
  margin: 20px;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #1d3158;
}

.select-form {
  width: 210px !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #1d2f59 !important;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited {
  background-color: #4b9382 !important;
  //     height: 30px!important;
  //     width: 74px!important;
  border-radius: 6px !important;


}

.close-btn {
  height: 30px !important;
  width: 74px !important;
}